.navbar {
    background-color: #3D3B3E;
}

.btn-logout {
    background-color: #87374F;
}

.album {
    background-color: #F6F4F6;
}

footer {
    background-color: #3D3B3E;
}

.list-of-authors {
    margin: 7px;
}

.search-block {

}


